
<div class="row">
        <div class="col-md-4 col-xs-6 col-sm-3">
          <img src="https://placehold.it/262x150" alt="image" />
          <h4>My Item #1</h4>
          <p> $10.99</p>
          <ngcart-addtocart id="item1" name="My Item #1" price="10.99" quantity="1" quantity-max="5" template-url="/libraries/ngCart/template/ngCart/addtocart.html">Add to Cart</ngcart-addtocart>
      </div>
      <div class="col-md-4 col-xs-6 col-sm-3">
        <img src="https://placehold.it/262x150" alt="image" />
        <h4>My Item #2</h4>
        <p> $10.99</p>
        <ngcart-addtocart id="item2" name="My Item #1" price="10.99" quantity="1" quantity-max="5" template-url="/libraries/ngCart/template/ngCart/addtocart.html">Add to Cart</ngcart-addtocart>
    </div>
    <div class="col-md-4 col-xs-6 col-sm-3">
      <img src="https://placehold.it/262x150" alt="image" />
      <h4>My Item #3</h4>
      <p> $10.99</p>
      <ngcart-addtocart id="item3" name="My Item #1" price="10.99" quantity="1" quantity-max="5" template-url="/libraries/ngCart/template/ngCart/addtocart.html">Add to Cart</ngcart-addtocart>
  </div>
</div>

<div class="row" style="margin-top:50px;">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <ngcart-checkout service="paypal" settings="payPalSettings" template-url="/libraries/ngCart/template/ngCart/checkout.html"></ngcart-checkout>
  </div>
</div>
