<div class="row">
  <ngcart-summary></ngcart-summary>
</div>
<div class="row">

        <div class="col-xs-6 col-sm-3">
          <img src="https://placehold.it/262x150" alt="image" />
          <h4>My Item #1</h4>
          <p> $10.99</p>
          <ngcart-addtocart id="item1" name="My Item #1" price="10.99" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
      </div>

      <div class="col-xs-6 col-sm-3">
        <img src="https://placehold.it/262x150" alt="image" />
        <h4>My Item #2</h4>
        <p> $10.99</p>
        <ngcart-addtocart id="item1" name="My Item #1" price="10.99" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
    </div>

    <div class="col-xs-6 col-sm-3">
      <img src="https://placehold.it/262x150" alt="image" />
      <h4>My Item #3</h4>
      <p> $10.99</p>
      <ngcart-addtocart id="item1" name="My Item #1" price="10.99" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
  </div>

</div>
