<div class="container">
  <div class="row">
    <h1><a href="/#!/"><%= title %></a></h1>

    <p>We are still under construction. </p>

    <p> Rather than anxiously wondering whether the package will arrive on time for the show, we deliver it directly to you at the venue or the festival.</p>
    <p>If you would like the package to be delivered to another location, we also do dropshipping. </p>
    <p>Please consider our services once the site is fully functional.</p>

    <p>To use our festival pick up services simply:</p>
  <ol>
    <li>Order your items</li>
    <li>Select the festival you will want to pick up from or place dropshipping information </li>
    <li>Record your unique order number.</li>
    <li>Await for an email that has the location of pick up. Bring your order number!</li>
  </ol>
    <p> Currently, all credit transactions go through PayPal </p>
  </div>

  <div class="row">
      <h2> Webstore Demo </h2>
  </div>
  <div class="row">
    <section ng-view></section>
  </div>
</div>
