<div class="container">
  <div class="row">
    <div class="col-md-12 announcements">
      <h1><a href="/#!/"><%= title %></a></h1>

      <p>We are still under construction.  This page is just a proof of concept.</p>

      <p> Rather than anxiously wondering whether the package will arrive on time for the show, we deliver it directly to you at the venue or the festival.</p>
      <p>If you would like the package to be delivered to another location, we also do dropshipping. </p>
      <p>Please consider our services once the site is fully functional.</p>
  </div>
  <div class="col-md-6 instructions">
      <p>To use our festival pick up services simply:</p>
    <ol>
      <li>Order your items</li>
      <li>Select the festival you will want to pick up from or place dropshipping information </li>
      <li>Record your unique order number.</li>
      <li>Await for an email that has the location of pick up. Bring your order number!</li>
    </ol>
      <p> Currently, all credit transactions go through PayPal </p>
  </div>
  <div class="col-md-6"></div>
  </div>

    <div class="row">
      <div class="col-md-12">
        <h2> Store Demo </h2>
    </div>
  </div>

  <div class="row">
    <section ng-view></section>
  </div>
</div>
