<div class="navbar">
      <div class="col-md-8"></div>
      <div class="col-md-4">
    <a href="/#!/cart"><button><ngcart-summary template-url="/libraries/ngCart/template/ngCart/summary.html"></ngcart-summary></button></a>
  </div>
</div>
