<div class="row">
  <h1><%= title %></h1>

  <p>We are still underconstruction. </p>

  <p> Rather than waiting anxiously for a package to arrive on time for the show we deliver directly to you at the venue or festival.</p>
  <p> We also do dropshipping so you can still order products to be delivered from your home if you like. </p>
  <p>Please consider checking us out once we are all set up.</p>

  <ol>
    <li> First, order your items </li>
    <li> Second, select the festival you will want to pick up from </li>
    <li> Third, record your unique order number.</li>
    <li> then, await an email for the location of pick up at the festival along with your order number.  </li>
  </ol>

  <p> Currently, all credit transactions go through paypal </p>

</div>

<div class="row">
    <h2> Webstore Demo </h2>
</div>

<section ng-view></section>
