<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi! We are still underconstruction. </p>

    <p> Welcome, we are Rave Instant. Rather than waiting anxiously for a package to arrive on time for the show we deliver directly to you at the venue or festival.  Please consider checking us out once we are all set up.</p>

    <section ng-view></section> 

  </body>

  <script type="type/javascripts" src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="type/javascripts" src="/libraries/angular-route/angular-route.min.js"></script>
  <script type="type/javascripts" src="/libraries/ngCart/dist/ngCart.min.js"></script>
  <script type="type/javascripts" src="/libraries/jquery/dist/jquery.min.js"></script>
  <script type="type/javascripts" src="/libraries/bootstrap/dist/js/bootstrap.min.js"></script>




  <script type="type/javascripts" src="/app.js"></script>

</html>
