<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/angular-bootstrap/ui-bootstrap-csp.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- include partials/navigation.ejs %>
    <%- include partials/body.ejs %>
    <%- include partials/footer.ejs %>

  </body>

  <!-- third party requirements  -->
  <script type="text/javascript" src="/libraries/angular/angular.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/libraries/ngCart/dist/ngCart.js"></script>

  <!-- app.js core  -->
  <script type="text/javascript" src="/app.js"></script>

  <!-- main modules  -->
  <script type="text/javascript" src="/module/config/raveinstant.client.routes.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.main.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.cart.js"></script>

</html>
