<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <link rel='stylesheet' href='/libraries/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/libraries/angular-bootstrap/ui-bootstrap-csp.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>

  </head>
  <body>
      <div class="container">
        <%- include partials/navigation.ejs %>
        <%- include partials/body.ejs %>
        <%- include partials/footer.ejs %>
    </div>
  </body>

  <!-- third party requirements  -->
  <script type="text/javascript" src="/libraries/angular/angular.min.js"></script>
  <script type="text/javascript" src="/libraries/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/libraries/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="/libraries/ngCart/dist/ngCart.js"></script>

  <!-- app.js core  -->
  <script type="text/javascript" src="/app.js"></script>

  <!-- main modules  -->
  <script type="text/javascript" src="/module/config/raveinstant.client.routes.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.main.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.navbar.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.cart.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.payment.js"></script>
  <script type="text/javascript" src="/module/controllers/raveinstant.client.checkout.js"></script>

</html>
